#dados{
    margin-top: 0;
    display: flex;
    flex-direction: row;
}
#dados h6{
    margin-right: 2rem;
}
#img1{
    display: flex;
    flex-direction: row;
}
#img1 img{
    height: 10rem;
    width: 14rem;

}
#img1 h4{
    margin-left: 1rem;
}

#img2{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}
#img2 img{
    height: 10rem;
    width: 14rem;

}
#img2 h4{
    margin-left: 1rem;
}